<div class="main__videos">
    <div id="video-grid">

    </div>
</div>
<div class="main__controls d-flex justify-content-center">
    <div class="main__controls__block">
        <div onclick="muteUnmute()" class="main__controls__button main__mute_button">
            <i class="fas fa-microphone" style="padding: 0 4px;"></i>
        </div>
        <div onclick="playStop()" class="main__controls__button main__video_button">
            <i class="fas fa-video"></i>
        </div>


        <div class="main__controls__button">
            <i class="fas fa-user-friends"></i>

        </div>
        <div class="main__controls__button">
            <i class="fas fa-comment-alt" style="padding: 0 2px;"></i>

        </div>


        <div class="main__controls__button " style="background-color: red;">
            <i class="fas fa-phone"></i>
        </div>
    </div>
</div>